body, html {
    margin: 0;
    border-radius: 0%;
    border-bottom: #333;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #00c0ff pink;
    color: #ddd;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 300px;
    height: 300px;
    border-style: dotted;
    color: cornflowerblue;
    border-style: solid;
    border-radius: 50%;
}

.descricao {
    width: 300px;
    color-scheme: pink;
}

h2 {
    margin-bottom: 5px;
}

.duracao {
    width: 300px;
    margin-top: 25px;
}

.barra {
    width: 300px;
    height: 5px;
    background-color: #333;
    position: relative;
    border-radius: 5px;
}

.progress {
    position: absolute;
    height: 100%;
    width: 0;
    background-color: #00c0ff;
    border-radius: 5px;
}

.ponto {
    width: 10px;
    height: 10px;
    background-color: #00c0ff;
    position: absolute;
    top: -2.5px;
    border-radius: 50%;
    right: -5px;
}

.tempo {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.player {
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.botao-play,
.botao-pause {
    font-size: 32px;
    cursor: pointer;
}

.anterior,
.proximo {
    font-size: 24px;
    cursor: pointer;
}
